.env
.env.local
.env.*.local
*.pem
*.key
credentials.json


# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# JetBrains (IntelliJ, PyCharm, WebStorm, stb.)
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace



node_modules/
vendor/
jspm_packages/
bower_components/


*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids/
*.pid
*.seed
*.pid.lock

.firebase/
